:root {
    --color-black: hsl(0, 0%, 10%);
    --color-white: hsl(0, 0%, 100%);
    --color-darken: hsl(0, 0%, 20%);
    --color-teal-100: hsl(54, 85%, 87%);
    --color-teal-200: hsl(44, 78%, 77%);
    --color-teal-300: hsl(49, 72%, 65%);
    --color-teal-400: hsl(51, 68%, 54%);
    --color-teal-500: hsl(44, 73%, 46%);
    --color-teal-600: hsl(59, 82%, 40%);
    --color-teal-700: hsl(49, 87%, 35%);
    --color-teal-800: hsl(46, 88%, 30%);
    --color-teal-900: hsl(34, 88%, 26%);
    --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 -4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  
  html {
    font-size: 100%;
    box-sizing: inherit;
    scroll-behavior: smooth;
  }
 
  
  .con {
    max-width: 75rem;
    height: auto;
    margin: 0 auto;
    padding: 0 1.25rem;
  }
  .note-header{
    transform: translateY(125px);
  }
 
  @media (max-width: 989px) {
    .note-header{
      font-size: 10px;
      transform: translateY(80px);

    }
   
  }
 
  @media (max-width: 631px) {
    .note-header{
      transform: translateY(59px);
    }
   
  }


  .header-color {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1000000;
    
  }
  
  .navba {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    margin: 0 auto;
  }
  
  .menu {
    position: fixed;
    left: 0;
    bottom: 0;
    display: grid;
    align-content: center;
    width: 100%;
    height: 3.5rem;
    padding: 0 1rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background: white;
    box-shadow: var(--shadow-medium);
  }
  .menu-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .menu-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    color: black;
  }
  .menu-link.is-active {
    position: relative;
    color: orange;
    transition: all 0.35s ease;
  }
  .menu-icon {
    font-size: 1.35rem;
    line-height: 1;
    color: inherit;
  }
  .menu-name {
    display: none;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25;
    visibility: hidden;
    text-transform: capitalize;
  }
  
  @media only screen and (min-width: 360px) {
    .menu-name {
      display: block;
      visibility: visible;
    }
  }
  @media only screen and (min-width: 576px) {
    .menu-list {
      justify-content: center;
      -moz-column-gap: 3rem;
           column-gap: 3rem;
    }
  }
  @media only screen and (min-width: 768px) {
    .header-color {
      background: var(--color-white);
      box-shadow: var(--shadow-medium);
      transition: all 0.35s ease-in-out;
    }
  
    .menu {
      position: relative;
      top: 0;
      right: 0;
      width: auto;
      height: auto;
      background: none;
      box-shadow: none;
    }
    .menu-link.is-active::before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 2rem;
      height: 2px;
      border: none;
      outline: none;
      background-image: linear-gradient(45deg,orangered ,yellow );

    }
    .menu-link:hover {
      color: orangered;
      transition: all 0.35s ease;
    }
    .menu-icon {
      display: none;
      visibility: hidden;
    }
    .menu-name {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: 0.2rem;
    }
  }
  .con_color_palette{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .color_palette{
    height: 250px;
    width: 215px;
    background-color: red;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 20px;
    cursor: grab;
    transition: 1s;
    box-shadow: 3px 4px 2px 0px #000000b5;
    position: relative;

  }
  .color_palette:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 5px 2px #000000b5;
  }
 .color_palette:active{
  cursor: grabbing;
 }
  .color_palette h3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom-right-radius: 20px ;
    border-bottom-left-radius: 20px ;
    transition: 4s;
    mix-blend-mode: hard-light;
    
  }
    .color_palette:hover h3{
      padding-top: 100px;
      background-color: rgba(255, 147, 7, 0.9);

  }
  .color_palette a{
    position: absolute;
    top: 10px;
    right: 10px;
    background: black;
    border-radius: 50%;
    font-size: 26px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: red;
  }
  @media (max-width: 768px) {
    .nav-bar-con{  
        display: block;
     }
    .navbar ul{  
      display: none;
     }
  }
  section{
    margin-bottom: 50px;
  }
  .section_div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 30px;
  }
  .section_h2{
    text-transform: capitalize;
    font-size: 32px;
    text-shadow: 3px 1px 0px #ff5622bd;
  }
  .section_h2::before{
  content: "";
  height: 4px;
  border-radius: 20px;
  display: block;
  width: 70px;
  left: 0;
  background-image: linear-gradient(45deg,orangered ,yellow );
  }
  .container_p_div{
position: relative;
  }
  .container_p{
    transform: rotate(90deg);
    position: absolute;
    left: -242px;
    top: 237px;
    color: gray;
    font-size: 28px;
    text-shadow: 5px 4px 4px #0000005c;
    text-transform: capitalize;
  }
  .range {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.342);
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  @media (max-width: 723px) {
    .box_icon{
      transform: translate(120px,-107px);
    }
  }